 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
//Foundation
@import '../../bower_components/foundation/scss/foundation';


//constants
$titleFont: 'Comfortaa', cursive;
$scriptFont: 'Dancing Script', cursive;
// Custom Styles

/*===========================================================================
                          Header styling
============================================================================*/

h1 {
  font-family: $titleFont;
  float: left;
}

h2 {
  float: left;
  clear: both;
  font-size: .2em;
  font-family: $scriptFont;
}

nav {
  border: 1px solid white;
  //float: right;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 50%;
  margin: 0 auto;

  & > * {
    float: left;
    margin: 5px;
  }
}


/*==========================================================================
===========================================================================*/

body {
  min-width: 320px;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
