 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
//Foundation
@import '../../bower_components/foundation/scss/foundation.scss';


//constants
$titleFont: 'Comfortaa', cursive;
$scriptFont: 'Dancing Script', cursive;
// Custom Styles

body {
  min-width: 320px;
  background: #fafafa;
  font-family: $titleFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h3, h4, h5 {
  font-family: $titleFont;
}

/*===========================================================================
                          Header styling
============================================================================*/
header {
  background-color: white;
}

h1 {
  font-family: $titleFont;
  float: left;
  font-size: 1.9em;
  line-height: .9;
}

h2 {
  margin-left: 5%;
  float: left;
  clear: both;
  font-size: 1.0em;
  line-height: .9;
  font-family: $scriptFont;
}

nav {
  position: absolute;
  top: 10px;
  right: 2px;
  opacity: 10%;
  margin: 0 auto;
}

//hide the hamburger nav above 600px
@media (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .login {
    list-style: none;

    li {
      float: left;
      margin-right: 5px;
    }
  }
}
//turn off the nav links below 600px
@media (max-width: 600px) {
  #login {
    display: none;
  }

  .login {
    list-style: none;
  }

}

/*==========================================================================
                                End of Header - Begin Sort/Search
===========================================================================*/

.sortSearch {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 5%;

  .search {
    
  }
}
