<img src=" {{ userStats.imageUrl }} ">
<h2> I'm {{user.username }} </h2>
<h3> {{ user.email }} </h3>
<h5> I've asked {{ userStats.questionsAsked }} questions and I've posted {{ userStats.answersPosted }} answers.  {{userStats.correctAnswers }} have been marked as the correct answer. I've voted {{userStats.votesMade }} times. </h5>
<h5> I've been a parent of {{ userStats.numberOfChildren }} child/children for {{ userStats.yearsParenting }} years.</h5>
<h5>A little about me...</h5><br/><p> {{ userStats.description }}</p>
<h5> My badges: {{ userStats.badges }}</h5>
